[Unit]
Description=Virgo Update Service
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=/usr/bin/docker pull rphillips/virgo-update-service
ExecStart=/usr/bin/docker run --rm -p 34000:34000 --name virgo-update-service rphillips/virgo-update-service
ExecStop=/usr/bin/docker kill virgo-update-service
Environment=VIRGO_UPDATE_SERVICE_ETCD_HOST=127.0.0.1
Environment=VIRGO_UPDATE_SERVICE_ETCD_PORT=4001
Environment=VIRGO_UPDATE_SERVICE_BIND_HOST=0.0.0.0
Environment=VIRGO_UPDATE_SERVICE_BIND_PORT=34000
Environment=VIRGO_UPDATE_SERVICE_SECRET=secret
Environment=VIRGO_UPDATE_SERVICE_PKGCLOUD_USERNAME=
Environment=VIRGO_UPDATE_SERVICE_PKGCLOUD_APIKEY=
Environment=VIRGO_UPDATE_SERVICE_HTPASSWD_FILE=/htpasswd
