<div class="container">
  <div ng-if="isDeployInProgress === true" class="alert alert-info">
    <b>Downloads in Progress...</b>
    <ul>
      <li ng-repeat="version in deploy.current_downloads">{{version}}</li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            Deploy
          </h3>
        </div>
        <div class="panel-body">
          <form novalidate ng-submit="deploy()">
            <p><select required class="form-control" data-style="btn-primary" ng-model="deployData.channel">
              <option/>
              <option ng-repeat="channel in channels">{{channel}}</option>
            </select></p>
            <p><select required class="form-control" data-style="btn-primary" ng-model="deployData.version">
              <option ng-repeat="version in remote_versions">{{version}}</option>
            </select></p>
            <p><input type='text' class="form-control" placeholder="Channel Name" ng-model='deployData.newChannelName'></input></p>
            <button ng-disabled="isUnchanged(deployData)" type="submit" class="btn btn-success btn-lg btn-block">
              Deploy
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            Channel Versions
          </h3>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="(channel, version) in channel_versions">
            {{channel}} : {{version}}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            Versions on this instance
          </h3>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="version in local_versions">
            {{version}}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            Cluster
          </h3>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item list-group-item-success" ng-repeat="server in servers">
            <a href="{{server.url}}">{{server.host}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <hr>
</div> <!-- /container -->
